<div ng-controller="Admin_logs_by_Name">

<H2>Logs for {{name}}</H2>
<table class="table table-striped">
				<tr >					
					<th>Date</th>					
					<th>Operation</th>
					<th>Amount</th>
				</tr>
				<tr dir-paginate="log in logs |filter:searchText | orderBy:'date' | itemsPerPage:15 " name="paginate">					
					<td>{{log.date | date:"MMM dd, yyyy"}}</td>
					<td>{{log.type}}</td>
					<td>{{log.amount}}</td>
				</tr>		
	</table>
	<div ng-show="!logs.length">
		<h2>There are no logs for given user</h2>
		</div>
		<div id="paging">
 		<div class="pagination">			 
		    <dir-pagination-controls max-size="3" 
		    direction-links="true"  
		    boundary-links="true"
		    auto-hide="false" 
		    template-url="Partials/Company/pagination.html" >
			</dir-pagination-controls>
		</div>
		</div>
</div>


